.ourServices{
    h2:after{
        @include after(100%,10px,10px,$primaryColor);
        display: block;
    }
    @media screen and (max-width: 576px){
        div {
            padding-right: 0 !important;
            padding-left: 0 !important;
        }
    }
}